#test1{
  color: red;
}
#test2{
  color:green;

}

.absentButton{
  padding: 7px 15px 7px 15px;
  /* border-color: #dbe1e8; */
  color: #394263;
  outline: 0;
  border: 1px solid #dbe1e8;
  border-radius: 5px;
}
.presentButton{
  padding: 7px 15px 7px 15px;
  /* border-color: #dbe1e8; */
  color: #394263;
  outline: 0;
  border: 1px solid #dbe1e8;
  margin-right: 15px;
  border-radius: 5px;
}
.presentButton:hover{
  border: 1px solid #a8acb1;
}
.absentButton:hover{
  border: 1px solid #a8acb1;
}
