.coach-info-view{
  margin-left: 100px;
  margin-top: 110px;
}
.right-side-coach-info-table{
  vertical-align: middle;
  padding: 1rem 0.5rem;
  /* width: 40% */
}
.left-side-coach-info-table{
  vertical-align: middle;
  padding: 1rem 0.5rem;
  /* width: 40%; */
}
.coach-info-table{
  font-size: 19px;
  padding: 1rem 0.5rem;
    max-width: 1593px;
    margin: 1px 25px auto;
  /* border-top: 1px solid #e5e5e5; */
}
.info-output{
  width: 32%;
  padding: 1rem 0.5rem !important;
}
.info-title{
  width: 23%;
}
#coach-edit-info-button{
  float: right;
    position: relative;
    right: 45px;
    top: 50px;
}
