.all-reports{
  margin-left: 78px;
}
.report-button{
  /* width: 100%; */
  height: 143px;
}
.report-icon{
  font-size: 23px;
    float: left;
}
.report-click-button{
  display: flex;
    float: right;
    margin-top: 47px;
}
