.studentList{
  list-style-type: none;
  font-size: 20px;
}
#student-status-dropdown-div{
  max-width: 250px;
    margin-left: -2px;
    margin-bottom: 20px;
    position: relative;
    top: 12px;
}
#student-status-dropdown{
  margin-left: 84px;
    font-size: 12px;
    text-align: center;
}
.display-all-student-list{
  margin-left: 73px;
}
.display-all-student-list-table{
  border-collapse: separate;
  border-spacing: 0 15px;
  font-size:13px;
  text-align: center;
}
.display-all-student-heading-list{
  background: rgb(245, 247, 249);
    height: 55px;
    vertical-align: middle;
}
.add-student-and-students-status-div{
  display: flex;
    justify-content: space-between;
    margin-top:20px;
    align-items: center;
}
#add-student-button{
    height: 20%;
    font-size: 13px;
    margin-right: 20px;
}
#top-nav-profile-icon{
  width: 54px;
}
#add-student-plus-icon{
  vertical-align: bottom;
    width: 20px;
    height: 21px;
}
